@media print {
    body * {
        visibility: hidden;
        margin-bottom:-20px;
        
        
    }

    .print-container, .print-container * {
        visibility: visible;
    }

    .printable {
        position: absolute;
        top: 0;
        left: 0;
        width: 7in;
        height: 3.5in;
        page-break-inside: avoid;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        
    }

    .print:hidden {
        display: none;
    }
}
